
.comment-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5%;
}


.user-icon{
display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}


.text-container{
    width: 90%;
    padding-left: 3%;
    margin-bottom: 1%;
}

.h4-username{
    font-weight: bold;
    font-size: larger;
    font-family: 'Jost', sans-serif; 
}

.h4-comment-text{
    display:inline-flex;
    width: 90%;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;

}

.comment-buttons{
    display:inline-flex;
    margin-left: 8%;
    margin-top: 3%;
    width: 100%;
}

.circle{
    border-radius: 50%; 
    width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}