.prof-container{
    padding: 5%;
    background:#0E192D;
    display: flex;
    margin-bottom: auto;

}
.editUser-button{
    display: flex;
    background-color: #979494;
    justify-content: center;
    color: white; 
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 5px; 
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    box-shadow: none; 
    height: 50%;
    justify-self: flex-end;
    border: none;
    margin: 1%;
    width: 7%;

}

.editUser-button:hover{
    background-color: #66AFA4;
    color: #fff;
    cursor: pointer;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);

  

}