.prof-container{
    padding: 5%;
    background:#0E192D;
    display: flex;
    margin-bottom: auto;

}
.editUser-button{
    background-color: #979494;
    color: white; 
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 5px; 
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    box-shadow: none; 
    height: 50%;
    justify-self: flex-end;
    border: none;
    height: 5%;
}

.editUser-button:hover{
    background-color: #66AFA4;
  color: #fff;

}