.editcontainer{
    /* border: white 2px solid; */
    display: flex;
    flex-direction: column;
    margin: 3% 3%;
    justify-content: center;
    padding: 3%;
    background-color: #1A2B44;
    border-radius: 10px;
    padding-bottom: 5%;
}

.editingdiv{
    margin-bottom: 2%;
}
.editing{
    color: #66AFA4;
    font-family: 'Jost', sans-serif; 
    font-size: 36px;
}

.titleedit{
    margin: 3% 0; 
}

.title-title{
    font-size: 24px; 
    font-family: 'Jost', sans-serif; 
}

.input-title{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace; 
    width: 100%;
    margin-top: 3px;
}

.bodyedit{


}

.body-post{
    font-family: 'Jost', sans-serif; 
    font-size: 24px;
}

.input-body{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    border-radius: 10px; 
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
}

.imageedit{
    display: flex;
    margin-top: -4%;
}

.imgbox{
    width: 50%;
}


.add-image{ 
    height: fit-content;
    width: 100%;
    color: white;
    font-family: 'Jost', sans-serif;
}


.savebutton{
    float: right;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.buttonbox{
    width: 40%;
    margin-bottom: 2%;
}
