.post-container{
    /* border: 2px solid purple; */
    border-radius: 10px;
    border: 1px #314664 solid;
}

.post-container-2{
    padding: 5% 8%;
    padding-top: 3%;
}

.user-info-bar{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 2%;
    padding-left: 3%;
    margin-top: -10px;
    border-bottom: 1px solid #314664;
}

.user-icon{
    border-radius: 50%;
}

.post-title{
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    padding-bottom: 3%;
    /* border: 2px pink solid; */
}

.postimg{
    border-radius: 3%
}

.post-body{
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 5%;
    margin-top: 5%;
    /* border: 2px green solid; */
}

.comment-title{
    font-family: 'Jost', sans-serif;
    padding-bottom: 2%;
    /* border: 2px blue solid; */
}

.loadmore{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
}

.button-div{
    text-align: center;
}

.comment-box{
    border: 1px #314664 solid;
    border-radius: 10px;
    padding:3%
}