.post-container{
    /* border: 2px solid purple; */
   
}

.post-title{
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
}

.post-body{
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
}

.comment-title{
    font-family: 'Jost', sans-serif;
    padding-bottom: 2%;
}

.loadmore{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
}

.button-div{
    text-align: center;
}