:root{
    --darknavy: #081020;
    --lightnavy: #1A2B44;
    --gray: #BBBBBB;
    --greensheen: #66AFA4;
    --honeydew: #F1FAEE;
  }


body {
    background-color: #0D192D;
    color: white; 
    margin: 0 12%;

}

.meet{
  border-radius: 10px; 
}

.meet-div{
  margin-top: 3%;
  margin-right:8%;
  margin-left: 8%;
}

.meet-parent{
  border: #0D192D 2px solid;
  background-color: #0D192D;
}

.users{
  margin-top: 4%; 
  width: 8%;
  border-radius: 50%;
}

.usercontainer{
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  display:inline-flex;
  justify-content: space-evenly;
}