:root{
    --darknavy: #081020;
    --lightnavy: #1A2B44;
    --gray: #BBBBBB;
    --greensheen: #66AFA4;
    --honeydew: #F1FAEE;
  }


body {
    background-color: #0D192D;
    color: white; 
    margin: 0 12%;
}



