.prof-container-user{
        /* border: 2px solid white;  */
        padding: 1% 3%;
        margin-top:15px;
        display: flex;
        background: #1A2B44;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex: 70%;
        flex:30%;
    
}

.profiles {
    background: antiquewhite;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 15vh;
    /* align-items: flex-end; */
    margin-bottom: 25%;
}
.prof-username{
    display:block;
    flex-direction: column;
    color: white;
    border: none;
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.my-nick-name{
    display: block;
    margin-left:-60%;
    margin-top:15%;
}
img{
border-radius: 80%;
width:25%
}