.mainUser{
    display: flex;
    margin: 1px;
    width: 100%;
    padding: 5px;
    /* border: 2px solid white;  */
}

.prof-container-user{
        /* border: 2px solid white;   */
        padding: 1% 3%;
        border: 1px #314664 solid;
        margin-top:15px;
        display: flex;
        background: #1A2B44;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex: 70%;
}
.User-name{
    width: 25%; 
    /* border: 2px solid white;  */
}
.profiles {
    background: antiquewhite;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 15vh;
    /* align-items: flex-end; */
    margin-bottom: 25%;
}
/* .input{
    display:block;
    flex-direction: column;
    color: white;
    border: none;
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
} */

.my-nick-name{
    display: flex;
     margin-left:-70%;
    margin-top:15%;
    font-family:Jost, sans-serif; ;
}
img{
border-radius: 80%;
width:25%
}

