.prof-container{
        /* border: 2px solid white; */
        padding: 1% 3%;
        display: block;
        
}

.prof-username {
    color: white;
    border: none;
    font-weight: bold;
    font-size: 50px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;

}

.prof-name {
    color: white;
    border: none;
    font-weight: bold;
    font-size: 35px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
}