
.flexbox-container{
    display: flex;
    flex-direction: column;
    margin: 3% 8%;
    justify-content: center;
    padding: 3%;
    background-color: #1A2B44;
    border: 1px #314664 solid;
    border-radius: 10px;
    padding-bottom: 5%;
}



.whatsonyourmind{
    margin-top: 2%;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

.addtitle{ 
    margin-top: -30px;
    width: 80%;
    margin-left: 10%;
}

.input-title{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace; 
    width: 80%;
    line-height: 0.8;
}

.addbody{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;

}

.input-body{
    width: 80%;
    height: 200px;
    padding: 12px 22px;
    border-radius: 10px; 
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
}

.imagebox{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: -4%;
}

.addimage{
    width: 50%;
    display: inline-flex;
}

.input-image{
    height: fit-content;
    width: 100%;
    color: white;
    font-family: 'Jost', sans-serif;
}

.postbutton{
    float: right;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.buttonbox{
    width: 40%;
    margin-bottom: 2%;
}

    .button-81 {
      align-self: center;
      background-color: #fff;
      border: 0 solid #e2e8f0;
      border-radius: 1.5rem;
      box-sizing: border-box;
      color: #0d172a;
      cursor: pointer;
      display: inline-block;
      font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 0.4;
      padding: 1rem 1.6rem;
      text-align: center;
      text-decoration: none #0d172a solid;
      text-decoration-thickness: auto;
      transition: all .1s cubic-bezier(.4, 0, .2, 1);
      box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      float: right;
    }
    
    .button-81:hover {
      /* background-color: #1e293b; */
      background-color: #66AFA4;
      color: #fff;
    }
    
    @media (min-width: 768px) {
      .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
      }
    }

