*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.sighUpPage{
     font-family: 'Times New Roman', Times, serif;
     background-color:#0E192D;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 
}
.signUpnBtn{margin: 4rem 0 0rem 0;
     width: 100%;
     padding: 25px;
     display: flex;
     border-radius:15px;
     border: none;
     align-items: center;
     justify-content: center;
     font-size: medium;
}
button:hover{
          cursor:pointer;
          background: #1A2B44;
          box-shadow: 0 8px 32px 0 rgba(102, 175, 164, 0.91);

}
 input{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     height:15%;
     width: 25rem;  
     border:none;
     margin: 3rem 0rem 0;
     padding: 5px;
     border-radius:20px
 }
 
 .sign-up-nav{
     width: 100%;
     height: 80px;
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     background: #1A2B44;
     box-shadow: 0 8px 32px 0 rgba(102, 175, 164, 0.91);
 }
.rendevous{
     font-family: 'Jost', sans-serif;
     font-size: 48px;
     margin-left: 17px;
}
.dev{
     color: #66AFA4;
}

.container{
     display: flex;
}
a {
     text-decoration: none;
}
h1{
     color: white;
}
h1:hover{
     cursor: pointer;
}
