*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


.privacyPolicy{
background-color:#0E192D; 
}
.text{
     padding: 5rem;
     font-size: medium;
     letter-spacing:normal;
}


/* h3{
     margin: 1%;
}
p{ */
     /* margin: 2%;
     padding: 2px;
     font-size: large;
     letter-spacing:normal; */

     ul{
          margin-left: 5%;
     }