.post-container{
    margin: 3% 10%;
    background-color: #1A2B44;
    padding: 1%;
   
}


.post-buttons{
    display:flex; 
    float: right;
    margin-right: 3%;
}

.postview{
    width: 100%; 
    
}

.openModalBtn{
    background: transparent;
    border: none;
}

.button1{
    background-color: transparent;
    border: none;
}


.modal-delete {
  align-items: center;
  background-color: #66AFA4;
  border: 0;
  border-radius: 100px;
  box-sizing: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  margin-top: 30px;
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.modal-delete:hover,
.modal-delete:focus { 
  background-color: #76c0b5;
  color: #ffffff;
}

.modal-delete:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.modal-delete:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.modal-close {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 100px;
    box-sizing: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .modal-close:hover,
  .modal-close:focus { 
    background-color: transparent;
    color: #ffffff;
  }
  
  .modal-close:active {
    background: transparent;
    color: rgb(255, 255, 255, .7);
  }
  
  .modal-close:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }