*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.LogInPage{
     font-family: 'Jost', sans-serif;
     background-color:#0E192D;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 
}
.LogInBtn{
     margin: 4rem 0 0rem 0;
     width: 100%;
     padding: 25px;
     display: flex;
     border-radius:15px;
     border: none;
     align-items: center;
     justify-content: center;
     font-size: medium;
}
.LogInBtn:hover{
          cursor:pointer;
          background: #1A2B44;
          box-shadow: 0 8px 32px 0 rgba(102, 175, 164, 0.91);

}
.main-nav-dic{
     background-color: aliceblue;
}
.LogInNav{
       display: flex;
        width: 100%;
        height: 80px;
        font-family: 'Jost', sans-serif;
        display: flex;
        background: #1A2B44;
        box-shadow: 0 8px 32px 0 rgba(102, 175, 164, 0.91);
   }
nav .link1{
font-family: 'Inconsolata', monospace;
margin-left: 50%;
   color: aliceblue;
   margin: 15px;
   font-size: 25px;
   font-weight: 600;
   text-decoration: none;
   margin-left: 2%;
   
   }
   
   nav .link1:hover{
   text-decoration: underline;
   }
   .signUpText{
        margin: 5%;
        padding: 10px;
        align-content: center;
        justify-content: center;
        font-size: medium;
        font-family: 'Jost', sans-serif; 
   }
a{
     color: white;
     text-align: center;
     align-items: center;
     font-size: medium;
     font-family: 'Jost', sans-serif; 
}
   
h4{
     margin-top: 10%;
     text-align: center;
}
