.profile-Edit-Container{
    background-color: #1A2B44;
    border-radius: 15px;
    padding: 3%;
    margin: 3%;
} 
.profileform-Container{
    /* border: 2px solid white; */
    padding: 1% 3%;
    background-color: #0E192D ;
    
}
.editprof-form {
    /* border: 2px solid white; */
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]:focus {
    background-color: white;
    outline: none;
    /* padding: 25px; */
    color: rgb(73, 73, 73);
}

.editprof-title{
    color: white;
    margin-top: 1%;
    border: none;
    font-weight: bold;
    font-size: 35px; 
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace;
}

.editprof-username {
    background-color: #BBBBBB;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace;
    margin-top: 3%;
    margin-bottom: 4%;
    border-radius: 4px;
}

.editprof-name {
    background-color: #BBBBBB;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace; 
    margin-bottom: 3%;
    border-radius: 4px;
}

.editprof-email {
    background-color: #BBBBBB;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace; 
    border-radius: 4px;
}

.editprof-button {
    background-color: #979494;
    color: white; 
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px; 
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin-left: 80%;
    width: 15%;
}

.editprof-button:hover{
     background-color: #66AFA4;
      color: #fff;
      cursor: pointer;
 
}


.editprof-bio {
    background-color: #BBBBBB;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif; 
    border-radius: 4px;
}

.editprof-github {
    background-color: #BBBBBB;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
    border-radius: 4px;
}

.editprof-youtube {
    background-color: #BBBBBB;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
    border-radius: 4px;
}

.editprof-delete {
    background-color: #c04c4c;
    color: white; 
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px; 
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin-left: -80%;
}

.editprof-headers {
    color: white;
    /* margin-top: %; */
    border: none;
    font-weight: bold;
    font-size: 30px; 
    /* padding-left: 22px;  */
    font-family: 'Inconsolata', monospace;
    display: inline-flex;
}

.editprof-delete:hover{
    background-color: #e32222; 
    cursor: pointer;
}