.profile-Edit-Container{
    background-color: #1A2B44;
    border-radius: 15px;
    padding: 3%;
    margin: 5%;
     border: 1px #314664 solid;
} 
.profileform-Container{
    /* border: 2px solid white; */
    padding: 1% 3%;
    background-color: #0E192D ;
    
}
.editprof-form {
    /* border: 2px solid white; */
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

 input[type=text]:focus {
    background-color: white;
    outline: none;
    /* padding: 25px; */
    color: rgb(73, 73, 73);
    padding: 5%;
} 

.editprof-title{
    
    color: white;
    margin-top: 1%;
    border: none;
    font-weight: bold;
    font-size: 35px; 
    justify-content: center;
    font-family: 'Inconsolata', monospace;
}

.editprof-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background-color:white;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    font-family: 'Inconsolata', monospace;
    margin-top: 3%;
    margin-bottom: 4%;
    margin: 5%;
    /* border-radius: 4px; */
}

.editprof-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background-color:white;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace; 
    margin-bottom: 3%;
    margin: 5%;
    /* border-radius: 4px; */
}

.editprof-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background-color:white;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    margin: 5%;
    padding-left: 22px; 
    font-family: 'Inconsolata', monospace; 
    /* border-radius: 4px; */
}

.editprof-button {
    background-color: #979494;
    color: black;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px; 
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin-left: 80%;
    width: 15%;
}

.editprof-button:hover{
     background-color: #66AFA4;
      color: #fff;
      cursor: pointer;
      transition: all .1s cubic-bezier(.4, 0, .2, 1);
      box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
 
}


.editprof-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 20px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
    margin: 5%; 
    padding: 4%;
    /* border-radius: 5%; */
}

.editprof-github {
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
    margin: 5%;
    padding: 4%;
    /* border-radius: 4px; */
}

.editprof-youtube {
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 24px; 
    padding-left: 22px; 
    font-family: 'Jost', sans-serif;
    margin: 5%;
    padding: 4%;
}

.editprof-delete {
    background-color: #c04c4c;
    color: white; 
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px; 
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin-left: -80%;
}

.editprof-headers {
    color: white;
    border: none;
    font-weight: bold;
    font-size: 30px; 
    font-family: 'Inconsolata', monospace;
    display: inline-flex;
}

.editprof-delete:hover{
    background-color: #e32222; 
    cursor: pointer;
}

